<div class="about">
  <div id="app" class="card">
    <div class="card-body">
      <img src="../../assets/icon.svg"
        class="d-block mx-auto card-img-top">
      <div>
        <h3 class="card-title text-center p-2">NG TODO</h3>
        <h5 class="card-title text-center">Todo Application</h5>
      </div>
      <div class="card-text">
        NG Todo is simple yet working todo saving application
        created by developer for testing Angular and NodeJS skills.
        This app is not to be deployed but you may clone and tweak
        it for deployment.
      </div>
      <div>
        <a href="https://github.com/ar124official2019/ngtodo-angular-source"
          class="btn btn-sm btn-light card-link m-1" target="_blank">
          <i class="nf-mdi-angularjs text-danger"></i>Angular Source</a>
        <a href="https://github.com/ar124official2019/ngtodo-nodejs-source"
          class="btn btn-sm btn-light card-link m-3" target="_blank">
          <i class="nf-mdi-nodejs text-success"></i>NodeJS Source</a>
      </div>
    </div>
  </div>
  <div id="developer" class="card">
    <div class="card-body">
      <img src="../../assets/developer.jpg"
        class="d-block mx-auto card-img-top">
      <div>
        <h3 class="card-title text-center p-2">Ahmad Raza</h3>
        <h5 class="card-title text-center">Application Developer</h5>
      </div>
      <div class="card-text">
        Hi everyone! I'm a student of Software Engineering (3rd year in 2019).
        My main interest is JavaScript for developing Softwares for
        different platforms. This app is result of my Angular and NodeJS
        learnings!<br>
        <b>Skills:</b> HTML5, CSS3, PHP, JavaScript (NodeJS, Angular)
      </div>
      <div>
        <a href="https://github.com/ar124official2019"
          class="btn btn-sm btn-light card-link m-3"
          target="_blank">
          <i class="text-dark nf-dev-github_badge"></i>Github</a>
        <a class="btn btn-sm btn-light card-link m-3"
          href="https://stackoverflow.com/users/11993072/ahmad-raza?tab=profile"
          target="_blank">
          <i class="text-warning nf-dev-stackoverflow"></i>StackOverflow</a>
      </div>
    </div>
  </div>
</div>
