<div class="about">
  <div id="app" class="card">
    <div class="card-body">
      <img src="../../assets/icon.svg"
        class="d-block mx-auto card-img-top">
      <div>
        <h4 class="card-title text-center p-2">NG TODO</h4>
      </div>
      <hr>

      <div class="card-text text-sm">
        <small>NG Todo is simple yet working todo saving application
        created by developer for testing Angular and NodeJS skills.
        This app is not to be deployed but you may clone and tweak
        it for deployment.</small>
      </div>
      <hr>

      <div class="d-flex flex-column m-1">
        <b>Source Code</b>
        <div class="d-flex flex-row align-items-center">
          <a href="https://github.com/ar124official2019/ngtodo-angular-source"
            class="btn btn-sm btn-light card-link" target="_blank">
            <i class="nf-mdi-angularjs text-danger"></i></a>

          <a href="https://github.com/ar124official2019/ngtodo-nodejs-source"
            class="btn btn-sm btn-light card-link" target="_blank">
            <i class="nf-mdi-nodejs text-success"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div id="developer" class="card">
    <div class="card-body">
      <img src="../../assets/developer.jpg"
        class="d-block mx-auto card-img-top">
      <div>
        <h4 class="card-title text-center p-2">Ahmad Raza</h4>
      </div>
      <hr>

      <div class="card-text text-sm">
        <small>Hi everyone! I'm a student of Software Engineering (3rd year in 2019).
        My main interest is JavaScript for developing Softwares for
        different platforms. This app is result of my Angular and NodeJS
        learnings!<br></small>
      </div>
      <hr>

      <div class="m-1">
        <b>Skills</b>

        <div class="d-flex flex-row align-items-center">
        </div>
      </div>
      <hr>

      <div class="m-1">
        <b>Get in touch</b>
        
        <div class="d-flex flex-row flex-wrap align-items-center">
          <a href="mailto:pro.se.ahmad.raza.1@gmail.com"
            class="mr-2" target="_blank" title="Email me">
            <i class="nf-mdi-email"></i></a>

          <a href="https://ar124officialwd.wordpress.com/"
            class="mr-2" target="_blank" title="My website">
            <i class="nf-mdi-web"></i></a>

          <a href="https://github.com/ar124official2019"
            class="mr-2"
            target="_blank" title="Github">
            <i class="nf-dev-github_badge"></i></a>

          <a
            href="https://stackoverflow.com/users/11993072/ahmad-raza?tab=profile"
            class="mr-2"
            target="_blank" title="StackOverflow">
            <i class="nf-dev-stackoverflow"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
