<div class="appNavigation bg-primary no-space">
  <div class="navbar no-space">
    <a routerLink="/"
      class="btn btn-primary py-1 px-2" title="Add new todo">
      <img src="../../favicon.ico" width=16 height=16></a>
    <a routerLink="/new" routerLinkActive="text-dark btn-outline-light"
      class="btn btn-primary py-1 px-2" title="Add new todo">
      <i class="nf-fa-plus"></i></a>
    <a routerLink="/all" routerLinkActive="text-dark btn-outline-light"
      class="btn btn-primary py-1 px-2" title='View all visible todos'>
      <i class="nf-fa-asterisk"></i></a>
    <a routerLink="/normal" routerLinkActive="text-dark btn-outline-light"
      class="btn btn-primary py-1 px-2" title='View unstared todos only'>
      <i class="nf-fa-star_o"></i></a>
    <a routerLink="/important" routerLinkActive="text-dark btn-outline-light"
      class="btn btn-primary py-1 px-2" title="View stared todos only">
      <i class="nf-fa-star"></i></a>
    <a routerLink="/hidden" routerLinkActive="text-dark btn-outline-light"
      class="btn btn-primary py-1 px-2" title="View all hidden todos">
      <i class="nf-fa-eye_slash"></i></a>
    <a routerLink="/about" routerLinkActive="text-dark btn-outline-light"
      class="btn btn-primary py-1 px-2" title="View all hidden todos">
      <i class="nf-mdi-information"></i></a>
  </div>
</div>
