<div class="d-flex justify-content-center flex-row mb-1 bg-light p-1">
  <div class="flex-item">
    <button class="btn btn-sm btn-outline-dark m-1">
      <i class="nf-fa-check"></i>
    </button>
    <button class="btn btn-sm btn-outline-dark m-1">
      <i class="nf-fa-star"></i>
    </button>
    <button class="btn btn-sm btn-outline-dark m-1">
      <i class="nf-fa-star_o"></i>
    </button>
    <button class="btn btn-sm btn-outline-dark m-1">
      <i class="nf-fa-eye"></i>
    </button>
    <button class="btn btn-sm btn-outline-dark m-1">
      <i class="nf-fa-eye_slash"></i>
    </button>
    <button class="btn btn-sm btn-outline-dark m-1">
      <i class="nf-fa-trash"></i>
    </button>
  </div>
</div>
